<script>
        var xVal = 0;
        var BlueCoyVal = 30;
        var BlueCoSharesOwned = 0;
        var RedCoyVal = 30;
        var RedCoSharesOwned = 0;
        var GreenCoyVal = 30;
        var GreenCoSharesOwned = 0;
        var updateInterval = 400;
        var dataLength = 0; // number of dataPoints visible at any point
        var increment = 0;
        var duration = 60;
        var myVar = 0;
        var numberOfTrades = 0;

        var currentCash = 1000;

        window.onload = function() {

            var BlueCoData = []; // BlueCo data points
            var RedCoData = []; // RedCo data points
            var GreenCoData = []; // GreenCo data points
            var EmptyData = []; // empty data set used for chart formatting
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: null
                },
                axisY: {
                    includeZero: true
                },
                data: [{
                    type: "line",
                    dataPoints: BlueCoData,
                    name: "BlueCo",
                    showInLegend: true
                }, {
                    type: "line",
                    dataPoints: RedCoData,
                    name: "RedCo",
                    showInLegend: true
                }, {
                    type: "line",
                    dataPoints: GreenCoData,
                    name: "GreenCo",
                    showInLegend: true
                }, {
                    type: "line",
                    dataPoints: EmptyData,
                    name: "EmptyData",
                    showInLegend: false,
                    color: "rgba(255,250,250,0)",
                    gridColor: "rgba(255,250,250,0)" 
                }]
            });


            EmptyData.push({
                        x: 5,
                        y: 40
                    });

            EmptyData.push({
                        x: 60,
                        y: 5
                    });

            var updateChart = function(count) {

                var currentValue = currentCash + (BlueCoSharesOwned * BlueCoyVal) + (RedCoSharesOwned * RedCoyVal) + (GreenCoSharesOwned * GreenCoyVal);
                document.getElementById("overallValue").innerText = currentValue;
                if (currentValue >= 1000) {
                    document.getElementById("overallValue").style.backgroundColor = "#98fb98";    
                } else {
                    document.getElementById("overallValue").style.backgroundColor = "#ffab99";
                }
                document.getElementById("numTotalShares").innerHTML = BlueCoSharesOwned + RedCoSharesOwned + GreenCoSharesOwned;
                document.getElementById("currentBVal").innerHTML = BlueCoyVal;
                document.getElementById("currentRVal").innerHTML = RedCoyVal;
                document.getElementById("currentGVal").innerHTML = GreenCoyVal;

                document.getElementById("valBShares").innerHTML = BlueCoSharesOwned * BlueCoyVal;
                document.getElementById("valRShares").innerHTML = RedCoSharesOwned * RedCoyVal;
                document.getElementById("valGShares").innerHTML = GreenCoSharesOwned * GreenCoyVal;



                count = count || 1;

                for (var j = 0; j < count; j++) {
                    {% block priceEvolution %}
                    BlueCoyVal = BlueCoyVal + Math.round(1.05 + Math.random() * (-1 - 1));
                    RedCoyVal = RedCoyVal + Math.round(1.05 + Math.random() * (-1 - 1));
                    GreenCoyVal = GreenCoyVal + Math.round(1.05 + Math.random() * (-1 - 1));
                    {% endblock %}
                    BlueCoData.push({
                        x: xVal,
                        y: BlueCoyVal,
                        markerType: "none"
                    });
                    RedCoData.push({
                        x: xVal,
                        y: RedCoyVal,
                        markerType: "none"
                    });
                    GreenCoData.push({
                        x: xVal,
                        y: GreenCoyVal,
                        markerType: "none"
                    });
                    xVal++;
                }

                chart.render();

                increment++;
                if (increment == duration) {
                    myStopFunction(myVar);
                }
            };

            updateChart(dataLength); // call updateChart once with the initial dataLength as argument
            myVar = setInterval(function() {
                updateChart()
            }, updateInterval); // repetitively call updateChart with no argument (hence, count will be 1 at the start of the updateChart function

        }

        function buyFunction(companyName) {
        	if (increment == duration) {
        		document.getElementById("errorMessage").innerHTML = "The game has finished!";
        		return;
        	} else {
        		document.getElementById("errorMessage").innerHTML = "";
        	}

            if (companyName == ("BlueCo")) {
            	if (!(currentCash >= BlueCoyVal)) {
            		document.getElementById("errorMessage").innerHTML = "You don't have enough cash to buy BlueCo";
            		return;
            	}
                currentCash = currentCash - BlueCoyVal;
                BlueCoSharesOwned++;
                //document.getElementById("currentBVal").innerHTML = ;
                document.getElementById("numBShares").innerHTML = BlueCoSharesOwned;
                document.getElementById("BlueCoShares").innerHTML = "BlueCo Shares: " + BlueCoSharesOwned;
                document.getElementById("valBShares").innerHTML = BlueCoSharesOwned * BlueCoyVal;
            } else if (companyName == ("RedCo")) {
                if (!(currentCash >= RedCoyVal)) {
            		document.getElementById("errorMessage").innerHTML = "You don't have enough cash to buy RedCo";
            		return;
            	}
                currentCash = currentCash - RedCoyVal;
                RedCoSharesOwned++;
                document.getElementById("numRShares").innerHTML = RedCoSharesOwned;
                document.getElementById("RedCoShares").innerHTML = "RedCo Shares: " + RedCoSharesOwned;
                document.getElementById("valRShares").innerHTML = RedCoSharesOwned * RedCoyVal;
            } else if (companyName == ("GreenCo")) {
            	if (!(currentCash >= GreenCoyVal)) {
            		document.getElementById("errorMessage").innerHTML = "You don't have enough cash to buy GreenCo";
            		return;
            	}
                currentCash = currentCash - GreenCoyVal;
                GreenCoSharesOwned++;
                document.getElementById("numGShares").innerHTML = GreenCoSharesOwned;
                document.getElementById("GreenCoShares").innerHTML = "GreenCo Shares: " + GreenCoSharesOwned;
                document.getElementById("valGShares").innerHTML = GreenCoSharesOwned * GreenCoyVal;
            }

            // transaction cost adjustment
            currentCash -= 1;
            numberOfTrades += 1;
            document.getElementById("numberOfTransactions").innerHTML = "Number of Transactions: " + numberOfTrades;

            document.getElementById("errorMessage").innerHTML = "Share bought";

            document.getElementById("currentCashDiv").innerHTML = currentCash;
            document.getElementById("overallValue").innerHTML = currentCash + (BlueCoSharesOwned * BlueCoyVal) + (RedCoSharesOwned * RedCoyVal) + (GreenCoSharesOwned * GreenCoyVal);
            document.getElementById("numTotalShares").innerHTML = BlueCoSharesOwned + RedCoSharesOwned + GreenCoSharesOwned;

        }

        function myStopFunction(myVar) {
            clearInterval(myVar);
        }

        function sellFunction(companyName) {
        	if (increment == duration) {
        		document.getElementById("errorMessage").innerHTML = "The game has finished!";
        		return;
        	}
            if (companyName == ("BlueCo")) {
            	if (BlueCoSharesOwned == 0) {
            		document.getElementById("errorMessage").innerHTML = "You have no BlueCo shares to sell";
            		return;
            	}
                currentCash = currentCash + BlueCoyVal;
                BlueCoSharesOwned--;
                document.getElementById("numBShares").innerHTML = BlueCoSharesOwned;
                document.getElementById("BlueCoShares").innerHTML = "BlueCo Shares: " + BlueCoSharesOwned;
                document.getElementById("valBShares").innerHTML = BlueCoSharesOwned * BlueCoyVal;
            } else if (companyName == ("RedCo")) {
                if (RedCoSharesOwned == 0) {
            		document.getElementById("errorMessage").innerHTML = "You have no RedCo shares to sell";
            		return;
            	}
                currentCash = currentCash + RedCoyVal;
                RedCoSharesOwned--;
                document.getElementById("numRShares").innerHTML = RedCoSharesOwned;
                document.getElementById("RedCoShares").innerHTML = "RedCo Shares: " + RedCoSharesOwned;
                document.getElementById("valRShares").innerHTML = RedCoSharesOwned * RedCoyVal;
            } else if (companyName == ("GreenCo")) {
            	if (GreenCoSharesOwned == 0) {
            		document.getElementById("errorMessage").innerHTML = "You have no GreenCo shares to sell";
            		return;
            	}
                currentCash = currentCash + GreenCoyVal;
                GreenCoSharesOwned--;
                document.getElementById("numGShares").innerHTML = GreenCoSharesOwned;
                document.getElementById("GreenCoShares").innerHTML = "GreenCo Shares: " + GreenCoSharesOwned;
                document.getElementById("valGShares").innerHTML = GreenCoSharesOwned * GreenCoyVal;
            }

            // transaction cost adjustment
            currentCash -= 1;
            numberOfTrades += 1;
            document.getElementById("numberOfTransactions").innerHTML = "Number of Transactions: " + numberOfTrades;

            document.getElementById("errorMessage").innerHTML = "Share sold";

            document.getElementById("currentCashDiv").innerHTML = currentCash;
            document.getElementById("overallValue").innerHTML = currentCash + (BlueCoSharesOwned * BlueCoyVal) + (RedCoSharesOwned * RedCoyVal) + (GreenCoSharesOwned * GreenCoyVal);
            document.getElementById("numTotalShares").innerHTML = BlueCoSharesOwned + RedCoSharesOwned + GreenCoSharesOwned;
        }
    </script>


    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>