<!DOCTYPE HTML>
<html>

<head>
{% load static %}

	{% include 'game/css-import.html' %}

</head>

<body>

    {% include 'game/navbar.html' %}
    {% include 'game/sidenav.html' %}

    {% include 'game/housingjscode.html' %}

    <div class="col-xs-12 col-sm-8">
        <div align="center">
        	<h1 id="pageheading">Housing Market</h1>

        	<div style="max-width:800px;" align="left">
                <p>You can also invest in the housing market. Unlike a bank account, the return on a housing investment is variable - you are not sure how much it will be when you buy. Housing prices can go up and down.</p>
                <p>The return from a housing investment comes from a combination of rent, and the increase in the value of the property. However, there is always a chance that you can't find a tenant, or that the value of the property falls.</p>
                <p>On average, the return from a housing investment will be higher than the return from a bank account. If it wasn't, why would you ever invest in property? It would be better to take the safe option of a bank account.</p>
            </div>
            <div class="flex-container">
            <div id="chartContainer" style="height: 350px; width: 500px;"></div>
            </div>
            <div style="max-width:800px;" align="left">
                <p>Things to be aware of in property investments include:
                    <ul>
                        <li>There are usually large taxes on purchasing property (e.g. stamp duty), which means you need more return before you break even.</li>
                        <li>Missing even a few weeks of rent because you cannot find a tennant is very expensive. You could be better off reducing your rent by 5% rather than missing 3 weeks of rent.</li>
                        <li>Different properties will perform differently based on many different factors - just because the 'property market' returned 10%, doesn't mean every property did!</li>
                    </ul>
                </p>
                <p>Reasons you might consider investing in property include:
                        <ul>
                            <li>You need somewhere for you and your family to live, and you don't want to rent.</li>
                            <li>You want to be protected against property price rises, so you don't get priced out of the market</li>
                            <li>You want to take advantage of a leveraged investment strategy - no bank will let you borrow $500k to invest in shares!</li>
                        </ul>
                    </p>
                    <p>Reasons you might consider a different investment instead include:
                        <ul>
                            <li>The risk is too high, and you want to be more certain of your investment returns. A savings account may be a better option in this case.</li>
                            <li>You may need access to your cash in the near future. It can take a long time to sell property, which might leave you with no money for other things.</li>
                            <li>You are only investing for a shorter-term period. Buying and selling property involves a lot of taxes and agent fees, and so it is best held as a long term investment.</li>
                            <li>You are willing to bear even greater risk for the chance at higher returns (see the Stockmarket section).</li>
                        </ul>
                    </p>
            </div>
        </div>

        </br>
    </div>
</body>

</html>
