<!DOCTYPE HTML>
<html>

<head>
{% load static %}

	{% include 'game/css-import.html' %}

</head>

<body>

    {% include 'game/navbar.html' %}
    {% include 'game/sidenav.html' %}

    <div class="col-xs-12 col-sm-8">
        <div align="center">
        	<h1 id="pageheading">Introduction</h1>

        	<div style="max-width:800px;" align="left">
                <p>The aim of this short course is to provide you with the base-level knowledge you need to go out and start investing.</p>
                <p>Investing is a complicated topic. And it becomes more complicated each year - with new investment options and a more complicated global economy. Some really smart people dedicate their lives to understanding this world. Lucky for us, we don't actually need to know that much to get started</p>
                <p>One of the reasons so many people avoid investing is because it is intimidating.</p>
                <p>Before we dive in to the details of investing, let's first check out why we might invest at all</p>
            </div>
        </div>


    </div>
</body>

</html>
