{% load staticfiles %}

<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}"><img src={% static "game/InvestingAcademyLogo.png" %} height="35px"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Share Trading Game</a></li>
                <li><a href="{% url 'introduction' %}">Learn</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% block content %}
                {% if user.is_authenticated %}
                  <li><a href="">Hi {{ user.username }}!</a></li>
                  <li><a href="{% url 'logout' %}">Sign Out</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">Sign In</a></li>
                {% endif %}
                {% endblock %}
            </ul>


        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

