<!DOCTYPE HTML>
<html>

<head>
{% load static %}

	{% include 'game/css-import.html' %}

</head>

<body>

    {% include 'game/navbar.html' %}

    {% include 'game/riskandreturnjscode.html' %}

    <div class="col-xs-12 col-sm-8">
        <div align="center">
        	<h1 id="pageheading">Risk and Return</h1>

        	<div style="max-width:800px;" align="left">
                <p>So what exactly is risk?</p>
                <p>Risk refers to the uncertainty of the performance of the investment. It refers to the possibility of losing some (or all) of your money.</p>
                <p>So how do we measure risk? Well, in finance, we usually measure it by the way an investment's value moves up and down. If the value tends to move up and down quickly, we assume that there is a chance it could move down a few times in a row, which could mean we lose money. Thus, investments that change in value quickly are considered 'risky'.</p>
                <p>Keep in mind that if an investment is 'volatile', there is also the chance it could move significantly up. High risk isn't necessarily bad - you just need to make sure the potential return you are getting is worth it.</p>
                <p>Look at the graph below. For any one step, the blue (low risk) line seems to jump up and down the least, whilst the green (high risk) line moves the most. Despite this, notice that the high risk doesn't necessarily beat the low risk at the end, or vice versa. Just that the high risk line is more likely to end up a longer distance from the starting point (either up or down). You may have to replay this animation a few times to see the effect!</p>
                
            </div>
            <div class="flex-container">
                <div id="chartContainer" style="height: 350px; width: 500px;"></div>
            </div>

            <div style="max-width:800px;" align="left">
                <p>As mentioned above, high risk isn't necessarily bad. In fact, if you played the animation above a few times, you probably saw the high risk investment make a nice profit over 5 years. That would be some tasty pintxos! However, we can't guarantee this will happen - that's the whole thing with risk!</p>
                <p>Instead, we can only make sure that we are properly compensated for taking this risk. Consider the table below.</p>
                <div align="center">
                    <table class="table" style="width: 300px;">
                        <tr>
                            <th class="tg-0lax" align="center">Investment</th>
                            <th class="tg-0lax">Risk</th>
                            <th class="tg-0lax">Estimated Return</th>
                        </tr>
                        <tr>
                            <td class="tg-0lax" align="center">A</td>
                            <td class="tg-0lax" align="center">Low</td>
                            <td class="tg-0lax" align="center">3%</td>
                        </tr>
                        <tr>
                            <td class="tg-0lax" align="center">B</td>
                            <td class="tg-0lax" align="center">High</td>
                            <td class="tg-0lax" align="center">3%</td>
                        </tr>
                    </table>
                </div>
                <p>A savvy investor would probably take investment A, because it is lower risk - there is a higher chance they would achieve the estimated return of 3%.</p>
                <p>Note: both investments might make less (or more) than 3%. However, investment A is more likely to be closer to 3% than investment B.</p>
                <p>Now consider the investments in the next table.</p>
                <div align="center">
                    <table class="table" style="width: 300px;">
                        <tr>
                            <th class="tg-0lax" align="center">Investment</th>
                            <th class="tg-0lax">Risk</th>
                            <th class="tg-0lax">Estimated Return</th>
                        </tr>
                        <tr>
                            <td class="tg-0lax" align="center">A</td>
                            <td class="tg-0lax" align="center">Low</td>
                            <td class="tg-0lax" align="center">3%</td>
                        </tr>
                        <tr>
                            <td class="tg-0lax" align="center">B</td>
                            <td class="tg-0lax" align="center">High</td>
                            <td class="tg-0lax" align="center">6%</td>
                        </tr>
                    </table>
                </div>
                <p>Is investment B now a better choice than A? Well, we can't say for sure. On average, it will probably return more than A, but there is still the chance it will end up returning less than A (and it could lose a lot of money). In this sort of case it is up to the individual investor to decide whether the extra estimated return is worth the additional risk.</p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
