<!DOCTYPE HTML>
<html>

<head>
{% load static %}

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'game/bootstrap.min.css' %}" />

    <!-- don't think this stylesheet is being used -->
<link rel="stylesheet" href="{% static 'game/bootstrap-theme.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}" />

</head>

<body>

    {% include 'game/sidenav.html' %}

    {% include 'game/savingsaccountjscode.html' %}

    <div class="main">
        <div align="center">
        	<h1>Savings Account</h1>

        	<div style="width:800px;" align="left">
                <p>One of the easiest things to invest in is a savings account with a bank. If you leave your money in a savings account for a fixed period of time, the bank will give you a little extra every so often. It gives you this extra because the bank uses your money for its own investing - the extra bit is a reward for you letting the bank use your money.</p>
                <p>The return on a bank account is fixed - it doesn't depend on how the bank's investments perform. The bank will tell you upfront what return you will get (e.g. 2% a year). This would mean if you invested $100 at the start of the year, then at the end you would have $102 in your savings account.</p> 
                <p>The return is also usually quite small - only a couple of percent a year. This is because it is almost riskless - you will almost definitely get your money back at the end of the year.</p>
                <p>The graph below shows you how your money might perform if you left it in a bank account for 5 years - it will always go up, but only at a fairly slow pace.</p>
            </div>
        </div>



        <div class="flex-container">
            <div id="chartContainer" style="height: 250px; width: 500px;"></div>
        </div>

        <div align="center">
            <div style="width:800px;" align="left">
                    <p>The actual interest rate a bank will give you for a savings account or term deposit will depend on a lot of different factors.</p>
                    <p>Reasons you might consider investing in a savings account include:
                        <ul>
                            <li>It is very easy to do. Just head down to a local branch of a bank of your choice, and they will let you know what you need to do</li>
                            <li>It is very safe. Even if the your bank goes out of business, you will likely by covered by insurance provided by the Australian Government, meaning you will get your money back</li>
                            <li>It is usually easy to get you money out. If you ever need to spend your money, you can withdraw it very quickly. Note: some savings accounts (like term deposits) may have penalties for taking your money out early - these usually will give you a higher interest rate as a reward for keeping your money tied up for longer</li>
                            
                        </ul>
                    </p>
                    <p>Reasons you might consider a different investment instead include:
                        <ul>
                            <li>Small returns. Savings accounts usually offer much smaller average returns than other investments (such as property or shares). This is because they are so safe.</li>
                            <li>There may be some difficulty in getting your money out quickly. For example, if you need your money to pay for an unexpected car repair, you may have to pay a fee to get your money out of a term deposit</li>
                        </ul>
                    </p>
                </div>
            </div>


    </div>
</body>

</html>
