<!DOCTYPE HTML>
<html>

<head>
{% load static %}

	{% include 'game/css-import.html' %}

</head>

<body>

    {% include 'game/navbar.html' %}

    {% include 'game/sharesjscode.html' %}

    <div class="col-xs-12 col-sm-8">
        <div align="center">
        	<h1 id="pageheading">Share Market</h1>

        	<div style="max-width:800px;" align="left">
                <p>The share market is a third option available to you for investing. Like property investments, the share market is considered risky - share prices regularly go up and down. The share market is typically even more risky than property.</p>
                <p>The return from an investment in shares comes from the movements in the price of the shares, and dividends (which are a company's way of giving some of their cash profits back to shareholders).</p>
                <p>As mentioned above, the share market is even riskier than property. Therefore, on average it returns more than a property investment. Otherwise no investor would be willing to take on the additional risk!</p>
            </div>
        <div class="flex-container">
            <div id="chartContainer" style="height: 350px; width: 500px;"></div>
        </div>

        <div style="max-width:800px;" align="left">
            <p>Things to be aware of in stockmarket investments include:
                <ul>
                    <li>Some stocks pay large dividends. Other stocks pay no dividends at all. One isn't necessarily better than the other - if a stock doesn't pay dividends, it's stock price is higher by what it would have paid in dividends. Regardless, it is good to know whether a company likes to give its profits back to shareholders, or whether it likes to reinvest the profits back into itself.</li>
                    <li>The dividend policy of a company will affect it's share price chart. If a company pays out a $1 dividend, then their share price will usually instantly drop by $1. This makes sense - the company suddenly has less money in the bank, and so they are worth less. So just because one company's price line is a little under another company's line, it may not have performed any worse.</li>
                    <li>You will have to pay a transaction fee to both buy <i>and</i> sell your shares. This is typically around $10-$20 in Australia, though it may be more for big trades. This is why you should probably avoid buying share in very small increments. For example, if you buy $40 of ANZ shares with a transaction fee of $10, you have lost 20% of your money straight away! This could take a long time to make back. On the other hand, if you bought $500 of shares, the $10 is only 2% of your investment - you could make this back much quicker.</li>
                    <li>Big-name shares (e.g. Commonwealth Bank, ANZ, BHP) are traded a lot, by a lot of different people. This means it is usually easy to find someone to buy/sell shares with. Smaller companies are generally not traded as much, and therefore if you have to sell, you might have to take whatever price you can get.</li>
                </ul>
            </p>
            <p>Reasons you might consider investing in stocks include:
                    <ul>
                      <li>You want high returns, and are willing to bear more risk to get them.</li>
                      <li>If you want to invest in a higher risk investment (property or shares), but also want to be able to get your money out quickly in the future.</li>
                    </ul>
            </p>
            <p>Reasons you might consider a different investment instead include:
                <ul>
                    <li>You may need the money for other things in the near future. Even though you can buy and sell stocks quickly and cheaply, there is always the chance that a stock's price falls quickly. If you are forced to sell just after the stock's price falls, you may regret it.</li>
                    <li>You are investing for a short term only. Whilst on average stocks return more than savings accounts and property, they are also subject to much greater day-to-day fluctuations in value. A stock you buy could easily lose 5% or more in a week. If you are holding onto the stock for a long time, you minimise the effects of this up-and-down movement, but may not be able to in the short term.</li>
                </ul>
            </p>
        </div>
        </div>

    </div>
</body>

</html>
