<!DOCTYPE HTML>
<html>

<head>
{% load static %}

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'game/bootstrap.min.css' %}" />

    <!-- don't think this stylesheet is being used -->
<link rel="stylesheet" href="{% static 'game/bootstrap-theme.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}" />

</head>

<body>

    {% include 'game/sidenav.html' %}

    {% include 'game/sharesjscode.html' %}

    <div class="main">
        <div align="center">
        	<h1>Share Market</h1>

        	<div style="width:800px;" align="left">
                <p>The share market is a third option available to you for investing. Like property investments, the share market is considered risky - share prices regularly go up and down. The share market is typically even more risky than property.</p>
                <p>The return from an investment in shares comes from the movements in the price of the shares, and dividends (which are a company's way of giving some of their cash profits back to shareholders).</p>
                <p>As mentioned above, the share market is even riskier than property. Therefore, on average it returns more than a property investment. Otherwise no investor would be willing to take on the additional risk!</p>
            </div>
        </div>



        <div class="flex-container">
            <div id="chartContainer" style="height: 350px; width: 500px;"></div>
            <div style="width: 200px;">
                <div><p>BlueSky Shares: 0</p></div>
                <div><button type="button" class="btn btn-primary" onclick="buyFunction('BlueSky')">Buy</button> <button type="button" class="btn btn-primary" onclick="sellFunction('BlueSky')">Sell</button></div>
                </br>
                <div><p>RedSun Shares: 0</p></div>
                <div><button type="button" class="btn btn-danger" onclick="buyFunction('RedSun')">Buy</button> <button type="button" class="btn btn-danger" onclick="sellFunction('RedSun')">Sell</button></div>
                </br>
                <div><p>GreenTree Shares: 0</p></div>
                <div><button type="button" class="btn btn-success" onclick="buyFunction('GreenTree')">Buy</button> <button type="button" class="btn btn-success" onclick="sellFunction('GreenTree')">Sell</button></div>
                </br>
                <div><p id="numberOfTransactions">Number of Transactions: 0</p></div>
            </div>
        </div>


        </br>
        <div align="center"><p id="errorMessage">Start buying and selling!</p></div>

        </br>


        <div align="center">

    	    <table class="table" style="width: 500px;">
    	        <tr>
    	            <th class="tg-0lax"></th>
    	            <th class="tg-0lax">Current Value</th>
    	            <th class="tg-0lax">Number of Shares</th>
    	            <th class="tg-0lax">Value of Holding</th>
    	        </tr>
    	        <tr>
    	            <td class="tg-0lax">BlueSky</td>
    	            <td class="tg-0lax" id="currentBVal" align="center">0</td>
    	            <td class="tg-0lax" id="numBShares" align="center">0</td>
    	            <td class="tg-0lax" id="valBShares" align="center">0</td>
    	        </tr>
    	        <tr>
    	            <td class="tg-0lax">RedSun</td>
    	            <td class="tg-0lax" id="currentRVal" align="center">0</td>
    	            <td class="tg-0lax" id="numRShares" align="center">0</td>
    	            <td class="tg-0lax" id="valRShares" align="center">0</td>
    	        </tr>
    	        <tr>
    	            <td class="tg-0lax">GreenTree</td>
    	            <td class="tg-0lax" id="currentGVal" align="center">0</td>
    	            <td class="tg-0lax" id="numGShares" align="center">0</td>
    	            <td class="tg-0lax" id="valGShares" align="center">0</td>
    	        </tr>
    	        <tr>
    	            <td class="tg-0lax">Cash</td>
    	            <td class="tg-0lax" align="center">---</td>
    	            <td class="tg-0lax" align="center">---</td>
    	            <td class="tg-0lax" id="currentCashDiv" align="center">500</td>
    	        </tr>
    	        <tr>
    	            <td class="tg-1wig">Total</td>
    	            <td class="tg-0lax" align="center">---</td>
    	            <td class="tg-1wig" id="numTotalShares" align="center">0</td>
    	            <td class="tg-1wig" id="overallValue" align="center"></td>
    	        </tr>
    	    </table>
    	</div>

    </div>
</body>

</html>
