<div class="sidenav">
      <a href="{% url 'index' %}">Game</a>
      <a href="{% url 'savingsaccount' %}">Savings Account</a>
      <a href="{% url 'housing' %}">Housing Market</a>
      <a href="{% url 'shares' %}">Sharemarket</a>
      <a href="{% url 'riskandreturn' %}">Risk and Return</a>
      <a href="{% url 'activeandpassive' %}">Active and Passive</a>
      <a href="{% url 'timingthemarket' %}">Timing the Market</a>
      <a href="{% url 'transactioncosts' %}">Transaction Costs</a>
      <a href="{% url 'diversification' %}">Diversification</a>
      <a href="{% url 'otherinvestments' %}">Other Investments</a>
      <a href="{% url 'learnmore' %}">Where Can I Learn More?</a>
    </div>