<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="sidebar-nav">
                <ul class="nav">

                    <li><a href="{% url 'introduction' %}">Introduction</a></li>
                    <li><a href="{% url 'whyinvest' %}">Why Invest?</a></li>
                    <li><a href="{% url 'savingsaccount' %}">Savings Account</a></li>
                    <li><a href="{% url 'housing' %}">Housing Market</a></li>
                    <li><a href="{% url 'shares' %}">Share Market</a></li>
                    <li><a href="{% url 'riskandreturn' %}">Risk and Return</a></li>
                    <li><a href="{% url 'activeandpassive' %}">Active and Passive</a></li>
                    <li><a href="{% url 'timingthemarket' %}">Timing the Market</a></li>
                    <li><a href="{% url 'transactioncosts' %}">Transaction Costs</a></li>
                    <li><a href="{% url 'diversification' %}">Diversification</a></li>
                    <li><a href="{% url 'otherinvestments' %}">Other Investments</a></li>
                    <li><a href="{% url 'superannuation' %}">Superannuation</a></li>
                    <li><a href="{% url 'learnmore' %}">Where Can I Learn More?</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->