<!DOCTYPE HTML>
<html>

<head>
{% load static %}

	{% include 'game/css-import.html' %}

</head>

<body>

    {% include 'game/navbar.html' %}
    {% include 'game/sidenav.html' %}

    <div class="col-xs-12 col-sm-8">
        <div align="center">
        	<h1 id="pageheading">Why invest?</h1>

        	<div style="max-width:800px;" align="left">
                <p>You probably know that the aim of investing is to make money. However, most people underestimate the benefit of long term investing.</p>
                <p>This partially due to the unintuitive nature of compound interest. For example, if you invest $1000 at 10% interest a year, after the first year you will receive $100, giving you a total of $1100. The next year, you earn 10% on $1100, which is $110.</p>
                <p>You might think this difference isn't much - only $10 more in the second year. And you are right. But if we kept this investment over a whole career...</p>
                <p>In the 40th year, your investment would be worth... $45,000. And that's just from $1000 dollars once off this year. If you instead decided to add $1000 of your own money each year, you would have over $485,000. That's only from a $40,000 total outlay!</p>
            </div>
        </div>


    </div>
</body>

</html>
